@anim-entrance-distance: 150%;


@keyframes slideInRight {
  0%   {  transform: translateX(@anim-entrance-distance)}
  100% {  transform: translateX(0%)  }
}

@keyframes slideInLeft {
  0%   {  transform: translateX(@anim-entrance-distance * -1)}
  100% {  transform: translateX(0%)   }
}

@keyframes opacityIn {
  0%   { opacity: 0 }
  20%  { opacity: .5 }
  100% { opacity: 1 }

}

.animate-entrance-right {
  transform: translateX(@anim-entrance-distance);
  animation: slideInRight ease-in 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.delay-one {
    animation-delay: 0.1s;
}
.delay-two {
    animation-delay: 0.4s;
}
.delay-three {
    animation-delay: 0.8s;
}
.delay-four {
    animation-delay: 1.0s;
}

.animate-entrance-left {
  transform: translateX(-@anim-entrance-distance);
  animation: slideInLeft ease-in 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.animate-entrance-inner-grid {
  transform: translateX(@anim-entrance-distance);
  transform: translateY(100px);
  opacity: 0;
  animation: slideInRight ease-in 1, opacityIn ease-in 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 10;
  animation-delay: 0.8s;
}

.animate-repeat {
  line-height: 30px;
  list-style: none;
  box-sizing: border-box;
}

.animate-repeat.one {
  animation-delay: 0.2s;
}

.animate-repeat.two {
  animation-delay: 0.4s;
}

.animate-repeat.three {
  animation-delay: 0.7s;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.5s;

}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    transform: translateX(120%);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  transform: translateX(0px);
}

// ----------------------------------------------------------

.animate-show {
  transform: translateY(0%);
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
    opacity: 0;
    transform: translateY(-100%);
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
