<div class="top-margin"></div>
<md-toolbar when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible md-hue-1"
            layout="row" layout-align="center center" layout-padding>
  <h1>Experience</h1>
</md-toolbar>
<md-divider when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible"></md-divider>
<md-toolbar when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible md-hue-2" layout="row" layout-align="center center" layout-padding>
  <span>Education</span>
</md-toolbar>
<md-content when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible background-container" layout-padding>
  <div when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible img-container" layout="row" flex>
    <div flex></div>
    <img class="exp-img" src="https://s.graphiq.com/sites/default/files/10/media/images/Tunxis_Community_College_736332_i0.jpg">
    <div flex></div>
  </div>
  <md-card when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible text-center" layout="column" >
    <h2>Associate's Degree</h2>
    <h3>Computer Programming: Science</h3>
    <p>"During my time at Tunxis, I learned a lot about Object Oriented Programming with languages such as C++ and Java. I was also introduced to SQL and database design,
      network essentials and the inner workings of each Operating System."</p>
  </md-card>

  <div when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible img-container" layout="row" flex>
    <div flex></div>
    <img class="exp-img" src="http://www.indie-soft.com/a100/assets/img/a100-logo.png">
    <div flex></div>
  </div>
  <md-card when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible text-center" layout="column">
    <h2>A100</h2>
    <h3>Senior Apprentice</h3>
    <p>"As a current senior apprentice, I ensure the new batch of apprentices are given all of the tools they need to succeed in the web development world. I assist with hands-on
      training in Dev Ops, Communication, Agile, and Web Development technologies such as Meteor.js."</p>
  </md-card>
  <md-card when-visible="experience.animInRight" when-not-visible="experience.animOutRight" class="not-visible text-center" layout="column">
    <h2>A100</h2>
    <h3>Apprentice</h3>
    <p>"During my time as an apprentice in the A100 program, I learned much about web development, as well as working in an agile environment. I also learned a great deal of
      Dev Ops, and how to communicate effectively on a team. I was on a team of five to create a startup product for a new venture named Vidzaar."</p>
  </md-card>
</md-content>
