<div class="top-margin"></div>
<md-card layout-padding layout-margin>
  <h1>{{ postDetails.post.name }}</h1>
  <p>{{ postDetails.post.description }}</p>
  <p>posted by: {{ postDetails.post.ownerEmail }}</p>
</md-card>
  <!--
    The post you selected is:
    <form>
      Post name: <input type="text" ng-model="postDetails.post.name" ng-disabled="!postDetails.isOwner(postDetails.post)">
      Description: <input type="text" ng-model="postDetails.post.description" ng-disabled="!postDetails.isOwner(postDetails.post)">
      <button ng-click="postDetails.save()">Save</button>
    </form>

    <p>Posted by: {{ postDetails.post.ownerEmail }} </p>

    <button ui-sref="home">Back</button>
  -->
