.paginator li {
  background-color: #3F51B5;
  list-style: none;
  display: inline;
  padding-right: 10px;
  font-size: 2.0rem;
}

.paginator li a {
    color: white;
}

post-add-button .md-fab {
  left: 6px;
  top: 0px;
}

@import '../postAddButton/postAddButton.less';
