<div style="margin-top: -19px"></div>
<md-toolbar class="md-hue-1" layout="row" layout-align="center center" layout-padding>
  <h1>Jake Conniff</h1>
</md-toolbar>
<md-divider></md-divider>
<md-toolbar class="md-hue-2" layout="row" layout-align="center center" layout-padding>
  <h1>Web Developer.</h1>
</md-toolbar>
<md-content class="background-container" layout="column" layout-padding>
  <md-card layout-align="center center" layout-padding>
    <p>
      The interwebs are evolving. Do you want to be left behind? <br>
      My web development skills can help you keep up with the web.
    </p>
  </md-card>
  <md-divider></md-divider>
  <md-card layout-padding>
    <p class="md-display-2 md-raised">Message Board</p>
    <p>Want to leave a message? Feel free!</p>
  </md-card>
  <md-divider></md-divider>
  <md-card flex ui-sref="postDetails({ postId: post._id })"
  class="post-card"
  dir-paginate="post in postsList.posts | itemsPerPage: postsList.perPage"
  total-items="postsList.postsCount">
  <div layout="row">
    <h2 flex>{{post.name}}</h2>
    <post-remove class="post-remove-button" post="post" ng-show="postsList.isOwner(post)"></post-remove>
  </div>
  <div layout="row">
    <p flex>{{post.description}}</p>
  </div>
</md-card>
<div class="paginator" layout="column" layout-align="center center" layout-padding>
  <dir-pagination-controls on-page-change="postsList.pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
</md-content>

<post-add-button ng-show="postsList.isLoggedIn"></post-add-button>


<!--
<div ng-if="!postsList.isLoggedIn">
Log in to create a post!
</div>
<input type="search" ng-model="postsList.searchText" placeholder="Search">
<posts-sort on-change="postsList.sortChanged(sort)" property="name" order="1"></posts-sort>
-->
