<post-add-button ng-show="postsList.isLoggedIn"></post-add-button>
<div ng-hide="postsList.isLoggedIn">
  Log in to create a post!
</div>

<!--
<input type="search" ng-model="postsList.searchText" placeholder="Search">
<posts-sort on-change="postsList.sortChanged(sort)" property="name" order="1"></posts-sort>
-->

<ul>
  <md-card class="post-card" md-whiteframe="24" layout="center" dir-paginate="post in postsList.posts | itemsPerPage: postsList.perPage" total-items="postsList.postsCount">
    <a ui-sref="postDetails({ postId: post._id })">
      {{post.name}}
    </a>
    <p>{{post.description}}</p>
    <post-remove class="post-remove-button" post="post" ng-show="postsList.isOwner(post)"></post-remove>
  </md-card>
</ul>

<div class="paginator">
  <dir-pagination-controls on-page-change="postsList.pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
