<div class="top-margin"></div>
<md-toolbar md-scroll-shrink flex class="md-hue-1" layout="row" layout-align="center center" layout-padding>
  <h1>About Me</h1>
</md-toolbar>
<md-divider></md-divider>
<md-content class="background-container" layout="column" flex>
  <md-whiteframe layout-align="center center" class="md-toolbar-tools white-font">
    <p>
      Skills.
    </p>
    </md-whiteframe>
  <md-content flex>
    <md-card layout="column" layout-padding flex>
      <div layout="row" layout-align="start center" layout-padding>
        <md-button ng-click="about.clickTerm('javascript')">
          <md-icon ng-show="about.termClicked !== 'javascript' " md-svg-icon="navigation:ic_expand_more_24px"></md-icon>
          <md-icon ng-show="about.termClicked == 'javascript' " md-svg-icon="navigation:ic_expand_less_24px"></md-icon>
        </md-button>
        <h4 flex>JavaScript</h4>
        <div flex></div>
        <div flex>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
        </div> <!-- FIX STAR LAYOUT FOR MOBILE -->
      </div>
      <div>
        <md-content class="animate-show" ng-show="about.termClicked == 'javascript'" layout-padding layout-margin>
          <p>With the community behind Node.js growing constantly, it is a great time to know and love JavaScript.
            I have been using JavaScript for about a year but since learning it, have almost strictly used it.
            I enjoy learning native JavaScript, all the way down to high-end frameworks such as Meteor and Angular, and everything in between.
          </p>
        </md-content>
      </div>
    </md-card>
  </md-content>
</md-content>
<md-divider></md-divider>
