<div class="top-margin"></div>
<md-toolbar
  when-visible="about.animInRight"
  when-not-visible="about.animOutRight"
  class="not-visible md-hue-1" layout="row" layout-align="center center" layout-padding>
  <h1>About Me</h1>
</md-toolbar>
<md-divider when-visible="about.animInRight" when-not-visible="about.animOutRight" class="not-visible"></md-divider>
<md-toolbar when-visible="about.animInRight" when-not-visible="about.animOutRight" class="not-visible md-hue-2"
            layout="row" layout-align="center center" layout-padding>
  <span>Skills</span><span flex></span><span>Proficiency</span>
</md-toolbar>
  <md-content when-visible="about.animInRight" when-not-visible="about.animOutRight" class="not-visible background-container" flex>
  <md-card when-visible="about.animInRight" when-not-visible="about.animOutRight" class="not-visible"
           layout="column" layout-padding flex ng-repeat="skill in about.skills">
    <div layout="row" layout-align="start center" layout-padding>
        <h4>{{ skill.name }}</h4>
        <md-button ng-click="about.clickTerm(skill.name, 'skill')">
          <md-icon ng-show="about.skillClicked !== skill.name" md-svg-icon="navigation:ic_expand_more_24px"></md-icon>
          <md-icon ng-show="about.skillClicked == skill.name" md-svg-icon="navigation:ic_expand_less_24px"></md-icon>
        </md-button>
        <div flex layout="row" layout-align="end center">
          <i ng-show="skill.rating >= 1" class="material-icons">star</i>
          <i ng-show="skill.rating >= 2" class="material-icons">star</i>
          <i ng-show="skill.rating >= 3" class="material-icons">star</i>
          <i ng-show="skill.rating >= 4" class="material-icons">star</i>
          <i ng-show="skill.rating >= 5" class="material-icons">star</i>
        </div>
      </div>
      <md-content class="animate-show" ng-show="about.skillClicked == skill.name" layout-padding layout-margin>
        <p>{{skill.description}}
        </p>
      </md-content>
  </md-card>
  <md-toolbar when-visible="about.animInRight" when-not-visible="about.animOutRight" class="not-visible md-hue-2" layout="row" layout-align="center center" layout-padding>
    <span>Languages</span><span flex></span><span>Proficiency</span>
  </md-toolbar>
  <md-card when-visible="about.animInRight" when-not-visible="about.animOutRight" class="not-visible" layout="column" layout-padding flex ng-repeat="language in about.languages">
    <div layout="row" layout-align="start center" layout-padding>
        <h4>{{ language.name }}</h4>
        <md-button ng-click="about.clickTerm(language.name, 'language')">
          <md-icon ng-show="about.languageClicked !== language.name" md-svg-icon="navigation:ic_expand_more_24px"></md-icon>
          <md-icon ng-show="about.languageClicked == language.name" md-svg-icon="navigation:ic_expand_less_24px"></md-icon>
        </md-button>
        <div flex layout="row" layout-align="end center">
          <i ng-show="language.rating >= 1" class="material-icons">star</i>
          <i ng-show="language.rating >= 2" class="material-icons">star</i>
          <i ng-show="language.rating >= 3" class="material-icons">star</i>
          <i ng-show="language.rating >= 4" class="material-icons">star</i>
          <i ng-show="language.rating >= 5" class="material-icons">star</i>
        </div>
      </div>
      <md-content class="animate-show" ng-show="about.languageClicked == language.name" layout-padding layout-margin>
        <p>{{language.description}}
        </p>
      </md-content>
  </md-card>

  </md-content>

<md-divider></md-divider>
