<md-toolbar class="navbar">
  <div class="md-toolbar-tools">
    <span class="nav-item" hide show-gt-md ui-sref="home">Home </span>
    <span class="nav-item" hide show-gt-md ui-sref="about">About</span>
    <md-menu hide-gt-md md-position-mode="target-right target">
     <!-- Trigger element is a md-button with an icon -->
        <md-button class='md-raised'  ng-click="$mdOpenMenu()"  >
            Menu
        </md-button>
         <md-menu-content class="down">
            <md-menu-item>
                <md-button >Home</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>About</md-button>
            </md-menu-item>
         </md-menu-content>
    </md-menu>
    <div flex></div>
    <auth></auth>
  </div>
</md-toolbar>




<!--
<md-content class="navbar sm-padding" theme="forest" flex>
  <md-nav-bar theme="forest" flex>
    <md-nav-item class="nav-item" md-nav-sref="home">Home</md-nav-item>
    <md-nav-item class="nav-item" md-nav-sref="about">About</md-nav-item>
    <span flex></span>
    <auth></auth>
  </md-nav-bar>
</md-content>
-->
