.navbar {
  position: fixed;
  z-index: 50;
  top: 0px;
  height: 64px;
}

.nav-item {
  color: white;
  list-style: none;
  margin-right: 15px;
}

.nav-item span.ng-scope {
  color: white;
}

@import "../auth/auth.less";
