<md-toolbar class="navbar">
  <div class="md-toolbar-tools">
    <span class="nav-item" ui-sref="home">Home </span>
    <span class="nav-item" ui-sref="about">About</span>
    <auth></auth>
  </div>
</md-toolbar>


<!--
<md-content class="navbar sm-padding" theme="forest" flex>
  <md-nav-bar theme="forest" flex>
    <md-nav-item class="nav-item" md-nav-sref="home">Home</md-nav-item>
    <md-nav-item class="nav-item" md-nav-sref="about">About</md-nav-item>
    <span flex></span>
    <auth></auth>
  </md-nav-bar>
</md-content>
-->
