.navbar {
  position: fixed;
  z-index: 50;
  top: 0px;
  height: 64px;
}

.nav-item {
  color: white;
  list-style: none;
  margin-right: 15px;
}

.nav-item span.ng-scope {
  color: white;
}

.down {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 300;
}


@import "../auth/auth.less";
